@{
    ViewData["Title"] = "Login";
}

<section class="login-container">
        <form action="" class="form">
            <h2>Login</h2>
            <input type="email" name="email" id="email" class="box" placeholder="Email">
            <input type="password" name="senha" id="senha" class="box" placeholder="Senha">
            <input type="submit" id="submit" value="Entrar" asp-controller="Login" asp-action="ValidarLogin">
            <a href="">Esqueci minha senha</a>
            @* <input type="button" id="cadastro" value="Cadastre-se" onclick="location.href='@Url.Action("Index", "Cadastro")'" />            *@
        </form>
        

        <div class="side">
            <img src="img/market.png" alt="">
        </div>
    
</section>
