@{
    ViewData["Title"] = "Home";
}

 <link rel="stylesheet" href="/EvTownApp/wwwroot/css/home-style.css">

 <h1 class="slogan">Entenda o seu público, Conheça o seu negócio</h1>

    <section class="sobre" id="sobre">
        <div class="sobre-info">
            <h1>Conheça <br> seu público</h1>
            <p>
                Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.                 
            </p>

            <p>
                A erat nam at lectus urna duis convallis. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Nam at lectus urna 
                duis convallis convallis tellus id interdum. A erat nam at lectus urna duis. Vitae nunc sed velit dignissim sodales.                 
            </p>
        </div>

        <div class="sobre-img">
            <img src="img/planta.jpg" alt="planta">
        </div>
                
    </section>

    <section class="solucoes" id="solucoes">
        <h1>Soluções</h1>
        <div class="solucoes-container">
            <div class="solucoes-item pagamento">
                <h2>Pagamento</h2>
                <img src="img/market.png" alt="pagamento celular">
                <p>
                    A erat nam at lectus urna duis convallis. A condimentum vitae sapien.
                </p>
            </div>

            <div class="solucoes-item insights">
                <h2>Insights</h2>
                <img src="img/perfil.jpg" alt="Insights">
                <p>
                    A erat nam at lectus urna duis convallis. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. 
                </p>
            </div>

            <div class="solucoes-item integracao">
                <h2>Integração</h2>
                <img src="img/pagamento.jpg" alt="Integração">
                <p>
                    A erat nam at lectus urna duis convallis. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Nam at lectus urna 
                    duis convallis convallis tellus id interdum. A erat nam at lectus urna duis. Vitae nunc sed velit dignissim sodales.                 
                </p>                
            </div>
        </div>        
    </section>

    <section class="planos" id="planos">
        <div class="planos-item">
            <h2>Starter</h2>
            <span><sup>R$</sup>100/mensal</span>
            <ul>
                <li>Dados de tráfego</li>
                <li>Insights</li>
                <li>Controlador de acesso</li>
            </ul>
            <a href="#">Solicitar Orçamento</a>
        </div>

        <div class="planos-item">
            <h2>Professional</h2>
            <span><sup>R$</sup>1500/anual</span>
            <ul>
                <li>Benefícios Starter</li>
                <li>Sistema de pagamento</li>
                <li>Suporte 24hr</li>
                <li>Aluguel de PDV</li>
            </ul>
            <a href="#">Solicitar Orçamento</a>
        </div>

        <div class="planos-item">
            <h2>Platinum</h2>
            <span><sup>R$</sup>5000</span>
            <ul>
                <li>Benefícios Professional</li>
                <li>Análises detalhadas</li>
                <li>Relatórios Personalizados</li>
                <li>Benefícios no App</li>                
                <li>Desconto para usuários**</li>                
            </ul>
            <a href="#">Solicitar Orçamento</a>
        </div>        
    </section>

    <section class="beneficios" id="beneficios">
        <div class="beneficios-item">
            <h2>Inteligente</h2>
            <p>Buscamos estar sempre um passo a frente. 
            Com o Ev.Town o fluxo de caixa do seu evento poderá
            ser gerenciado em uma única ferramenta</p>
        </div>
        <div class="beneficios-item">
            <h2>Intuitivo</h2>
            <p>Com uma interface pensada no usuário, o Ev.Town
            é super intuitivo. Mas em caso de dúvida temos um time humanizado pra 
            te auxiliar</p>
        </div>
        <div class="beneficios-item">
            <h2>Integrador</h2>
            <p>Sabemos que cada lojista pode ter o seu ERP. Sendo assim
            criamos um sistema inteligente de integração. Disponibilizamos
            APIs de integração. Caso necessário, também fornecemos aluguel 
            de PDVs na nuvem              
            </p>
        </div>
        <div class="beneficios-item">
            <h2>Adaptável</h2>
            <p>Atender as mudanças é uma forma de estar a frente.
            Sentiu falta de alguma funcionalidade? Entre em contato 
            conosco. Estamos sempre dispostos a ouvir idéias e implantar
            melhorias  
            </p>
        </div>
        <div class="beneficios-item">
            <h2>Prático</h2>
            <p>Atender as mudanças é uma forma de estar a frente.
            Sentiu falta de alguma funcionalidade? Entre em contato 
            conosco. Estamos sempre dispostos a ouvir idéias e implantar
            melhorias  
            </p>
        </div>                
        <div class="beneficios-item">
            <h2>Rápido</h2>
            <p>Atender as mudanças é uma forma de estar a frente.
            Sentiu falta de alguma funcionalidade? Entre em contato 
            conosco. Estamos sempre dispostos a ouvir idéias e implantar
            melhorias  
            </p>
        </div>                
    </section>

    <section class="newsletter">
        <div class="newsletter-info">
            <h1>Newsletter</h1>
            <p>assine e fique por dentro das novidades</p>
        </div>
        <form class="newsletter-form">
            <input type="text" placeholder="Seu e-mail">
            <button type="submit">Assinar</button>
        </form>
    </section>  